USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 11/15/2024 12:31:54 PM ******/
CREATE DATABASE [LibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Book_tb]    Script Date: 11/15/2024 12:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_tb](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[Author] [nvarchar](100) NULL,
	[CoverImage] [nvarchar](200) NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_tb]    Script Date: 11/15/2024 12:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_tb](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_tb]    Script Date: 11/15/2024 12:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_tb](
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book_tb] ON 

INSERT [dbo].[Book_tb] ([BookId], [Name], [Detail], [Author], [CoverImage], [CategoryId]) VALUES (20, N'To Kill a Mockingbird', N'A novel about the serious issues of rape and racial inequality.', N'Harper Lee', N'https://picsum.photos/200/300', 1)
INSERT [dbo].[Book_tb] ([BookId], [Name], [Detail], [Author], [CoverImage], [CategoryId]) VALUES (21, N'To Kill a Mockingbird', N'A novel about the serious issues of rape and racial inequality.', N'Harper Lee', N'https://picsum.photos/200', 1)
INSERT [dbo].[Book_tb] ([BookId], [Name], [Detail], [Author], [CoverImage], [CategoryId]) VALUES (22, N'1984', N'A dystopian social science fiction novel and cautionary tale.', N'George Orwell', N'https://picsum.photos/id/237/200/300', 1)
SET IDENTITY_INSERT [dbo].[Book_tb] OFF
GO
SET IDENTITY_INSERT [dbo].[Category_tb] ON 

INSERT [dbo].[Category_tb] ([CategoryId], [Name]) VALUES (1, N'Fiction')
INSERT [dbo].[Category_tb] ([CategoryId], [Name]) VALUES (2, N'Science')
INSERT [dbo].[Category_tb] ([CategoryId], [Name]) VALUES (3, N'Biography')
SET IDENTITY_INSERT [dbo].[Category_tb] OFF
GO
INSERT [dbo].[User_tb] ([UserId], [UserName], [Email], [Password]) VALUES (123456, N'Admin1', N'admin1@example.com', N'password123')
INSERT [dbo].[User_tb] ([UserId], [UserName], [Email], [Password]) VALUES (123457, N'Admin2', N'admin2@example.com', N'password456')
INSERT [dbo].[User_tb] ([UserId], [UserName], [Email], [Password]) VALUES (123458, N'User1', N'user1@example.com', N'userpassword1')
GO
ALTER TABLE [dbo].[Book_tb]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category_tb] ([CategoryId])
GO
ALTER TABLE [dbo].[User_tb]  WITH CHECK ADD CHECK  ((len([UserId])=(6)))
GO
USE [master]
GO
