
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Index</h1>
    <h1>My First Heading</h1>
    <p>,jgjhvkjlbjbjlblkjbjlbjlbljbljbljbljkblmkbmjlbjlbjvbjovjolfvc</p>
    <button class="btn btn-primary">dzslkgfn;kg</button>
    <h2>
        jksdhgfljsdhgfjsdnhhb
    </h2>
</div>


