html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/* Light Mode */
body.light-mode {
    background-color: white;
    color: black;
}

    /* Dark Mode */
body.dark-mode {
    background-color: #272727;
    color: white;
}

/* Navbar specific */
.navbar-light-mode {
    background-color: #d6d6d6;
    color: black;
}

.navbar-dark-mode {
    background-color: #121212;
    color: white;
}

    .navbar-dark-mode a {
        color: white;
        font-size: 20px;
    }

.navbar-light-mode a {
    color: black;
    font-size: 20px;
}
/* Light Mode */
body.light-mode table {
    background-color: lightgray;
    color: black;
    border: 1px solid black;
}

/* Dark Mode */
body.dark-mode table {
    background-color: #333;
    color: white;
    border: 1px solid white;
}
label{
    font-size:larger
}
/* Light Mode */
body.light-mode .card {
    background-color: white;
    color: black;
    border: 1px solid #ddd; /* สามารถปรับสี border ตามต้องการ */
}

/* Dark Mode */
body.dark-mode .card {
    background-color: #333;
    color: white;
    border: 1px solid #444; /* ปรับ border สีเข้มขึ้นในโหมด dark */
}
/* Light Mode */
body.light-mode .card-body {
    background-color: #f9f9f9; /* สีพื้นหลังอ่อน */
    color: black;
}

/* Dark Mode */
body.dark-mode .card-body {
    background-color: #444; /* สีพื้นหลังเข้ม */
    color: white;
}
/* Light Mode */
body.light-mode .card .card-title,
body.light-mode .card .card-text {
    color: black; /* สีข้อความที่มืดกว่า */
}

/* Dark Mode */
body.dark-mode .card .card-title,
body.dark-mode .card .card-text {
    color: white; /* สีข้อความที่สว่างกว่าในโหมด dark */
}




